Binaries
DerivedDataCache
Intermediate
Saved
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Blueprints/PlayersCharacter.uasset
Content/Blueprints/PlayersCharacter.uasset
